/*Paleta
    https://material.io/resources/color/#!/?view.left=0&view.right=0&secondary.color=F44336&secondary.text.color=000000&primary.color=7E57C2
    Oscuro:   #26418f
    medio:    #5c6bc0
    Claro:    #8e99f3
              #f5f5f5

              #E86100
              #010B13
              #F8F8FF
              #757575

*/
/*PALETAS
    #03045E        #010B13
    #0077B6        #FF4F00
    #00B4D8        #FF7800
    #90E0EF        #F8D568
    #CAF0F8        #F8F8FF
*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/abstract.jpg);
}

h1, h2 {
    margin: 0;
    font-family: 'Patua One', cursive;
    color: #7DF9FF;
}

p {
    margin: 0;
}

/***************************** Contenedores ***********************************/
.contenedor1 {
    /* background-color: #CAF0F8; */
    background-color: rgba(202, 240, 248, 0.95);
    /* display: flex; */
    padding: 90px 120px;
    justify-content: space-evenly;
}

/************************** Barra de navegación 2 *****************************/
.barraNavegación {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    /* background-color: #002366; */
    background-color: rgba(0, 35, 102, 0.8);
    height: 70px;
}

.barraNavegación>.barraNavegación1 {
    width: 30%;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.logo>img {
    height: 50px;
    margin: auto 0 auto 10px;
}

.barraNavegación>.barraNavegación2 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.enlace-header>a {
    color: #7DF9FF;
    font-size: 1.3rem;
    padding: 25px 16px;
    text-align: center;
    text-decoration: none;
}

.enlace-header a:hover {
    text-decoration: none;
    height: 70px;
    font-weight: bold;
}

.hamburger {
    display: none;
}

/******************************** Encabezado ***********************************/
.contenedor {
    height: 300px;
    width: auto;
}

.contenedor>img {
    width: 100%;
    height: 100%;
    display: none;
}

/********************************* Sobre Mi ************************************/
.imagenIzquierda {
    height: 0;
}

.imagenIzquierda>img {
    height: 160px;
    width: 160px;
    background-color: #CAF0F8;
    border-radius: 50%;
    border: 10px solid #002366;
    position: relative;
    left: 60px;
    bottom: 60px;
}

#imagenPerfil {
    height: 300px;
    width: 300px;
    position: relative;
    left: 0;
    bottom: 130px;
}

.titulos {
    background-color: #002366;
    /* background-color: rgba(0, 35, 102, 0.8); */
}

.titulo-izquierda {
    text-align: left;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 27%;
}

.sobreMi {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.sobreMi>p {
    font-size: 1.2rem;
    padding-left: 150px;
}

/******************************** Habilidades ****************************/
.imagenDerecha {
    height: 0;
    position: relative;
    left: 100%;
    /* Posiciona el contenedor en el margen derecho de la pantalla */
}

.imagenDerecha>img {
    height: 160px;
    width: 160px;
    background-color: #CAF0F8;
    border-radius: 50%;
    border: 10px solid #002366;
    position: relative;
    /* left: 80%; */
    right: 190px;
    bottom: 65px;
}

.titulo-derecha {
    text-align: right;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 25%;
}
.contenedor-card{
    margin-bottom: 2rem;
}
.contenedor-card:hover .card {
    transition: all ease 0.5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(180deg);
    /* box-shadow: 0 4px 10px rgba(17, 29, 48, .26); */
}

.card {
    transition: all ease 0.5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}

/* .card:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
} */

.progress {
    margin-top: 1rem;
}

.trasera {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: hidden;
}

.trasera>img {
    height: 100%;
    position: relative;
    left: -150px;
    /* visibility: hidden; */
}

.trasera-contenido {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2rem;
    color: #FFFAF0;
}
.trasera-contenido>h4{
    font-weight: bold;
}
.tc1{
    background: rgba(146, 175, 200, 0.75);
    background: -moz-linear-gradient(top, rgba(146, 175, 200, 0.75) 0%, rgba(69, 61, 65, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(146, 175, 200, 0.75)), color-stop(100%, rgba(69, 61, 65, 1)));
    background: -webkit-linear-gradient(top, rgba(146, 175, 200, 0.75) 0%, rgba(69, 61, 65, 1) 100%);
    background: -o-linear-gradient(top, rgba(146, 175, 200, 0.75) 0%, rgba(69, 61, 65, 1) 100%);
    background: -ms-linear-gradient(top, rgba(146, 175, 200, 0.75) 0%, rgba(69, 61, 65, 1) 100%);
    background: linear-gradient(to bottom, rgba(146, 175, 200, 0.75) 0%, rgba(69, 61, 65, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92afc8', endColorstr='#453d41', GradientType=0);
}
.tc2{
    background: rgba(209,213,202,0.75);
    background: -moz-linear-gradient(top, rgba(209,213,202,0.75) 0%, rgba(60,69,67,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(209,213,202,0.75)), color-stop(100%, rgba(60,69,67,1)));
    background: -webkit-linear-gradient(top, rgba(209,213,202,0.75) 0%, rgba(60,69,67,1) 100%);
    background: -o-linear-gradient(top, rgba(209,213,202,0.75) 0%, rgba(60,69,67,1) 100%);
    background: -ms-linear-gradient(top, rgba(209,213,202,0.75) 0%, rgba(60,69,67,1) 100%);
    background: linear-gradient(to bottom, rgba(209,213,202,0.75) 0%, rgba(60,69,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d5ca', endColorstr='#3c4543', GradientType=0 );
}
.tc3{
    color: #D3D3D3;
    background: rgba(108,125,157,0.5);
    background: -moz-linear-gradient(top, rgba(108,125,157,0.5) 0%, rgba(26,27,36,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(108,125,157,0.5)), color-stop(100%, rgba(26,27,36,1)));
    background: -webkit-linear-gradient(top, rgba(108,125,157,0.5) 0%, rgba(26,27,36,1) 100%);
    background: -o-linear-gradient(top, rgba(108,125,157,0.5) 0%, rgba(26,27,36,1) 100%);
    background: -ms-linear-gradient(top, rgba(108,125,157,0.5) 0%, rgba(26,27,36,1) 100%);
    background: linear-gradient(to bottom, rgba(108,125,157,0.5) 0%, rgba(26,27,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c7d9d', endColorstr='#1a1b24', GradientType=0 );

}


/****************************** Proyectos *************************************/


.contenedor-acordeon{
    margin-bottom: 2rem;
}

.acordeonTitulo{
    background-color: #002366;
    /* border-radius: 8px; */
    border: 1.3px solid #00153D;
}
.acordeonTituloTop{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.acordeonTituloBot{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.acordeonTitulo>a{
    text-decoration: none;
    color: #7DF9FF;
    text-align: center;
}
.acordeonTitulo>a>h3{
    padding: 10px 0;
    margin: 0;
    font-weight: bold;
}

.acordeonTitulo2{
    background-color: #F7F7F7;
}
.acordeonTitulo2>a{
    text-decoration: none;
    color: #070707;
    text-align: center;
}
.acordeonTitulo2>a>h5{
    padding: 10px 0;
    margin: 0;
}
.img-p{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.img-p>img{
    width: 100%;
    border-radius: 15px;
}
#img-p-tindog>img{
    height: 100%;
}
/***************************** Pasatiempos ************************************/
.contenedorPasatiempos{

}
.pasatiempo{
    /* border: 8px solid #002366; */
    background-color: #f7f7f7;
    border: 1.3px solid #000;
}
.pasatiempoDescripcion{
    display: flex;
    align-items: center;
    padding: 30px;
    text-align: center;
    /* border: 1.5px solid #000; */
}
.pasatiempoTexto>h3{
    font-weight: bold;
    font-size: 2rem;
}
.pasatiempoTexto>p{
    font-weight: bold;
    font-size: 13pt;

}
.carrusel{
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    /* border: 1.5px solid #000; */
}
.pasatiempoImagen{
    padding: 15px;
}
.pasatiempoImagen>img{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.huerto{
    background-color: #666C3F;
}
/* #huertoTexto>h3{
    color: #F8F8FF;
}
#huertoTexto>p{
    color: #8DD9CC;
} */

/******************************** Footer **************************************/
.contenedor2 {
    background-color: #002366;
    /* display: flex; */
    padding: 60px 120px;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.partFooter {
    /* background-color: white; */
    /* height: 100px; */
    text-align: center;
    align-content: center;
    color: #7DF9FF;
    margin: 0.5rem 0;
}

#logoFooter {
    display: flex;
    align-items: center;
}

.itemFooter>img {
    width: 5rem;
    height: 5rem;
}

#logoNombre {
    margin: 0 1rem;
}

.itemFooter>a {
    margin: 0 0.5rem;
    color: #007bff;
}


/****************************** Responsive Design ****************************/

@media screen and (max-width:600px){
    /***************************** Contenedores *******************************/
    .contenedor1 {
        padding: 70px 30px;
    }

    /******************************** Navbar **********************************/
    .barraNavegación>.barraNavegación2 {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-end
        margin: 0;
        padding: 0;
    }
    .enlace-header>a{
        display: none;
    }
    .hamburger {
        display:block;
        padding-right: 30px;
    }
    /******************************** Encabezado ***********************************/
    .contenedor {
        height: 200px;
    }
    /********************************* Sobre Mi ************************************/
    .imagenIzquierda>img {
        border: 8px solid #002366;
        left: 10px;
        bottom: 60px;
    }

    #imagenPerfil {
        height: 200px;
        width: 200px;
        left: 10px;
        bottom: 80px;
    }

    .titulo-izquierda {
        text-align: right;
        padding: 0.2rem 30px 0.2rem 0;
        font-size: 2.2rem;
    }

    .sobreMi>p {
        padding-left: 0;
    }

    /******************************** Habilidades ****************************/
    .imagenDerecha>img {
        right: 170px;
    }

    .titulo-derecha {
        text-align: left;
        padding: 0.2rem 0 0.2rem 30px;
    }
    /* #voltear-card:active .card {
        transition: all ease 0.5s;
        transform-style: preserve-3d;
        transform: perspective(600px) rotateY(180deg);
    } */

    /******************************* Pasatiempos *******************************/

    .pasatiempo-reverse{
        display: flex;
        flex-direction: column-reverse;
    }

}
