/*Paleta
    https://material.io/resources/color/#!/?view.left=0&view.right=0&secondary.color=F44336&secondary.text.color=000000&primary.color=7E57C2
    Oscuro:   #26418f
    medio:    #5c6bc0
    Claro:    #8e99f3
              #f5f5f5

              #E86100
              #010B13
              #F8F8FF
              #757575

*/
/*PALETAS
    #03045E        #010B13
    #0077B6        #FF4F00
    #00B4D8        #FF7800
    #90E0EF        #F8D568
    #CAF0F8        #F8F8FF
*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1,h2{
    margin: 0;
    font-family: 'Patua One', cursive;
    color: #7DF9FF;
}

/***************************** Contenedores ***********************************/

.contenedor1 {
    background-color: #CAF0F8;
    display: flex;
    padding: 60px 120px;
}

.contenedor2{
    background-color: #002366;
    display: flex;
    padding: 60px 120px;
}

/************************** Barra de navegación 2 *****************************/
.barraNavegación {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    background-color: #002366;
    height: 70px;
}

.barraNavegación>.barraNavegación1 {
    width: 30%;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.logo>img {
    height: 50px;
    margin: 5px 0 5px 10px;
}

.barraNavegación>.barraNavegación2 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.enlace-header>a {
    color: #7DF9FF;
    font-size: 1.3rem;
    padding: 25px 16px;
    text-align: center;
    text-decoration: none;
}

.enlace-header a:hover {
    text-decoration: none;
    background-color: #7DF9FF;
    color: #000000;
    height: 70px;
}

.hamburger {
    display: none;
}

/******************************** Encabezado ***********************************/
.contenedor{
    height: 300px;
}
.contenedor>img{
    width: 100%;
    height: 100%;
}

/********************************* Sobre Mi ************************************/

.imagenIzquierda {
    height: 0;
}

.imagenIzquierda>img {
    height: 160px;
    width: 160px;
    background-color: #CAF0F8;
    border-radius: 50%;
    border: 10px solid  #002366;
    position: relative;
    left: 60px;
    bottom: 60px;
}

#imagenPerfil{
    height: 300px;
    width: 300px;
    position: relative;
    left: 0;
    bottom: 130px;
}

.titulos{
    background-color:  #002366;
}

.titulo-izquierda{
    text-align: left;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 350px;
}
.espacio{
    width: 200px;
}
.sobreMi{
    width: 100%;
}

.sobreMi>p{
    font-size: 1.2rem;
}

/******************************** Habilidades ****************************/

.imagenDerecha {
    height: 0;
}

.imagenDerecha>img {
    height: 160px;
    width: 160px;
    background-color: #CAF0F8;
    border-radius: 50%;
    border: 10px solid  #002366;
    position: relative;
    left: 80%;
    bottom: 65px;
}

.titulo-derecha{
    text-align: right;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 350px;
}

.card{
    margin-bottom: 2rem;
}

.card:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}
/* Pasatiempos */
